# Análise de Vendas de uma Concessionária com Pandas

## Objetivo
Analisar as vendas de uma concessionária, calcular comissões e identificar o faturamento de um vendedor específico.

In [18]:
import pandas as pd

dataframe = pd.DataFrame() 
vendas_cf = pd.read_excel("vendas_concessionaria.xlsx")
display(vendas_cf)

,Data_Venda,Loja,Vendedor,Modelo_Veiculo,Tipo_Veiculo,Ano_Veiculo,Preco_Venda,Forma_Pagamento,Comissao,Cliente_Cidade
0,2024-04-12,Concessionária Norte,Rafael,Toro,Usado,2016,141082.41,Financiamento,1410.8241,Sorocaba
1,2024-12-14,Concessionária Leste,Ana,Civic,Novo,2024,126845.92,Financiamento,1268.4592,Campinas
2,2024-09-27,Concessionária Leste,Carlos,Toro,Novo,2015,159177.96,Financiamento,1591.7796,Ribeirão Preto
3,2024-04-16,Concessionária Norte,Mariana,Corolla,Usado,2023,84913.91,À vista,849.1391,NaN
4,2024-03-12,Concessionária Sul,Mariana,Compass,Usado,2021,168129.19,Financiamento,1681.2919,Santos
...,...,...,...,...,...,...,...,...,...,...
4995,2024-02-25,Concessionária Leste,João,Creta,Usado,2020,142444.32,Financiamento,1424.4432,Ribeirão Preto
4996,2024-12-25,Concessionária Norte,João,Creta,Novo,2024,173655.56,Financiamento,1736.5556,Campinas
4997,2024-04-19,Concessionária Sul,Carlos,Compass,Novo,2024,146730.41,Financiamento,1467.3041,São Paulo
4998,2024-07-10,Concessionária Leste,Carlos,Onix,Novo,2016,69225.57,Consórcio,692.2557,São Paulo
4999,2024-04-02,Concessionária Centro,Mariana,HB20,Usado,2017,171295.37,Financiamento,1712.9537,São Paulo

In [19]:
# Preenchendo a coluna "Comissao" com valores
vendas_cf['Comissao'] = vendas_cf['Preco_Venda'] * 0.01
display(vendas_cf)

,Data_Venda,Loja,Vendedor,Modelo_Veiculo,Tipo_Veiculo,Ano_Veiculo,Preco_Venda,Forma_Pagamento,Comissao,Cliente_Cidade
0,2024-04-12,Concessionária Norte,Rafael,Toro,Usado,2016,141082.41,Financiamento,1410.8241,Sorocaba
1,2024-12-14,Concessionária Leste,Ana,Civic,Novo,2024,126845.92,Financiamento,1268.4592,Campinas
2,2024-09-27,Concessionária Leste,Carlos,Toro,Novo,2015,159177.96,Financiamento,1591.7796,Ribeirão Preto
3,2024-04-16,Concessionária Norte,Mariana,Corolla,Usado,2023,84913.91,À vista,849.1391,NaN
4,2024-03-12,Concessionária Sul,Mariana,Compass,Usado,2021,168129.19,Financiamento,1681.2919,Santos
...,...,...,...,...,...,...,...,...,...,...
4995,2024-02-25,Concessionária Leste,João,Creta,Usado,2020,142444.32,Financiamento,1424.4432,Ribeirão Preto
4996,2024-12-25,Concessionária Norte,João,Creta,Novo,2024,173655.56,Financiamento,1736.5556,Campinas
4997,2024-04-19,Concessionária Sul,Carlos,Compass,Novo,2024,146730.41,Financiamento,1467.3041,São Paulo
4998,2024-07-10,Concessionária Leste,Carlos,Onix,Novo,2016,69225.57,Consórcio,692.2557,São Paulo
4999,2024-04-02,Concessionária Centro,Mariana,HB20,Usado,2017,171295.37,Financiamento,1712.9537,São Paulo

In [46]:
# Verificando valores vazios nas linhas das tabelas
vendas_cf[vendas_cf.isna().any(axis=1)]
# Adicionando a mensagem "Não encontrado" aos valores vazios
vendas_cf = vendas_cf.fillna("Não encontrado")
#display(vendas_cf)
# Puxando apenas as vendas do Carlos
vendas_carlos_cf = vendas_cf.loc[vendas_cf['Vendedor'] == 'Carlos', ['Vendedor', 'Preco_Venda', 'Comissao', 'Modelo_Veiculo', 'Tipo_Veiculo']]
display(vendas_carlos_cf)
# Conferindo o faturamento do Carlos
faturamento_carlos_cf = vendas_cf[vendas_cf["Vendedor"] == "Carlos"]["Preco_Venda"].sum()
display(faturamento_carlos_cf)

     Vendedor  Preco_Venda   Comissao Modelo_Veiculo Tipo_Veiculo
2      Carlos    159177.96  1591.7796           Toro         Novo
5      Carlos    145400.33  1454.0033           HB20         Novo
17     Carlos    103553.32  1035.5332           Toro         Novo
18     Carlos    100531.01  1005.3101           Onix         Novo
19     Carlos    113005.40  1130.0540          Creta         Novo
...       ...          ...        ...            ...          ...
4966   Carlos    138872.11  1388.7211          Creta         Novo
4970   Carlos    135922.48  1359.2248           HB20        Usado
4994   Carlos     98956.25   989.5625          Creta        Usado
4997   Carlos    146730.41  1467.3041        Compass         Novo
4998   Carlos     69225.57   692.2557           Onix         Novo

[823 rows x 5 columns]

Empty DataFrame
Columns: [Data_Venda, Loja, Vendedor, Modelo_Veiculo, Tipo_Veiculo, Ano_Veiculo, Preco_Venda, Forma_Pagamento, Comissao, Cliente_Cidade]
Index: []